#app,
#modal-root div:nth-of-type(1) {
  border: 10px solid #ff0000;
}

header > div {
  background: red;
}

#modal-root div div:nth-of-type(1) {
  border: none;
} 

#modal-root > div > div {
  border: 10px solid red !important;
}